<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KeaBriefcase</title>

    <link rel="stylesheet" href="../../pages/upload/upload.css">
    <link rel="stylesheet" href="../../pages/about/about.css">
    <link rel="stylesheet" href="../../pages/download/download.css">
    <link rel="stylesheet" href="../../fragments/footer/footer.css">
    <link rel="stylesheet" href="../../global.css">
</head>
<body>
<a href="/"><img id="logo" src="../../images/breifcase.png" alt="logo"></a>